.page.theme_dark {
  
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --heading-color: #ff0070;
  --accent-heading-color: #000028;
  --decorative-elements: #ff0070;
  --accent-color: #ff0070;
  --header-menu-hover-color: rgb(255 0 112 / 0.4);
}

@media (width >= 768px) {

  .page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
  }
}
